{% extends 'base-login.html' %}
{% load staticfiles %}
{% block title %}登录
{% endblock title %}
{% block css %}
<link href="{% static 'css/login.css' %}" rel="stylesheet"/>
{% endblock css %}

{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4 login-content">

          <form class='form-login' action="/login/" method="post">
            {% if message %}
            <div class="alert alert-warning">{{message}}</div>
            {% endif %}
              <h2 class="text-center">欢迎登录 configM</h2>
                  <div class="form-group">
                    {{ login_form.username.label_tag }}
                    {{ login_form.username}}
                  </div>
                  <div class="form-group">
                    {{ login_form.password.label_tag }}
                    {{ login_form.password }}
                  </div>
                <button type="submit" class="btn btn-success  btn-lg btn-block"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; 登录</button>
          </form>
    
        </div>
    </div> <!-- /container -->
{% endblock %}